.Form {
    margin-top: 3rem;
}
.Form input[type='text']{
background-color: transparent;
color: #ffffff;
outline: none;
border-radius: 10px;
}

.Form input:focus{
background-color: transparent;
box-shadow: none !important;
}

.Form input[type='text']::placeholder{
border: none;
color: #ffffff;
}
button {
    border-radius: 10px;
}