.Form {
    margin-top: 3rem;
}
.Form input[type='text']{
background-color: transparent;
color: #ffffff;
border-bottom: 3px  solid #ffffff;
outline: none;
border: none;
border-radius: 0px;
}

.Form input:focus{
border: none;
background-color: transparent;
box-shadow: none !important;
}

.Form input[type='text']::placeholder{
border: none;
color: #ffffff;
}